	
	#abbeyImage	{
		float: right;
		margin: 0em 0em 1em 1em;
		border-style: outset;
		border-width: 0.2em;
		border-color: lightblue;
	}
	
	#abbeyImage:hover{
		transform: skew(-60deg, 15deg);
		transition: 1.25s;
	}
	
	
	#video,#faceBook	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-style: ridge;
		border-width: 0.4em;
		border-color: lightblue;
		border-radius: 12px;
		width: 500px;
		height: 350px;
	}
	
	#churchVideo	{
		display: block;
		margin-left: 350px;
		border-style: ridge;
		border-width: 0.4em;
		border-color: lightblue;
		border-radius: 12px;
		height: 425px; 
		width: 240px;
	}
	
	
	
	
	
	
	
	
	
	
	